<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fxlc.zklm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106195082" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ChangePhoneActivity" />
        <activity
            android:name=".test.TestActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".test.PlaceTestActivity" />
        <activity android:name=".test.CarNoActivity" />
        <activity android:name=".activity.ContactActivity" />
        <activity android:name=".activity.TransferDetailActivity" />
        <activity android:name=".activity.AuditActivity" />
        <activity android:name=".activity.AddCarActivity" />
        <activity android:name=".activity.AddpicActivity" />
        <activity android:name=".activity.UInfoActivity" />
        <activity android:name=".activity.EntryActivity" />
        <activity android:name=".test.ScanQRActivity" />
        <activity
            android:name=".test.CaptureQRActivity"
            android:clearTaskOnLaunch="true"
            android:label="二维码扫描"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MyActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MycarActivity" />
        <activity android:name=".activity.MycarActivityNew" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.ShareActivity" />
            <activity android:name=".activity.PickImgActivity" />
            <activity android:name=".activity.PhotoActivity" />
            <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.ReSetPwdActivity" />
        <activity android:name=".activity.FindPwdActivity" />
        <activity android:name=".activity.ChangePayPwdActivity" />
        <activity android:name=".activity.BrandActivity" />
        <activity android:name=".activity.HandCarActivity" />
        <activity android:name=".activity.MsgActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.MyBorrowActivity" />
        <activity android:name=".activity.PayHistoryActivity" />
        <activity
            android:name=".activity.PayActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.RepayAcountActivity" />
        <activity android:name=".activity.LicenceStatuActivity" />
        <activity android:name=".activity.LicenseAuditActivity" />
        <activity android:name=".activity.IDcardAuditActivity" />
        <activity android:name=".activity.IDcardStatuActivity" />
        <activity android:name=".activity.AddContactActivity" />
        <activity android:name=".activity.MyContactActivity" />
        <activity android:name=".activity.ContactInfoActivity" />

        <service
            android:name=".service.UploadService"
            android:exported="false" />

        <activity android:name=".test.SqlActivity" />
        <activity android:name=".activity.TruckActivity" />
        <activity android:name=".activity.TruckInfoActivity" />
        <activity android:name=".activity.PayResultActivity" />
        <activity android:name=".activity.BorrowHistoryActivity" />
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activity.PayInfoActivity" />
        <activity android:name=".activity.AboutusActivity" />
        <activity android:name=".activity.ProtocalActivity" />
        <activity android:name=".test.IDcardTestActivity" />
        <activity android:name=".test.PullActivity"></activity>
    </application>

</manifest>